<clr-main-container>
    <header class="header header-3">
        <div class="branding">
            <a>
                <clr-icon shape="group"></clr-icon>
                <span class="title">Community</span>
            </a>
        </div>
        <div class="header-nav">
            <!--Añadimos un link a la ruta Forums-->
            <a class="nav-link" routerLink="forums"><span class="nav-text">Forums</span></a>
            <!--Esta ruta tiene asociado el modulo Blogs que se carga de forma lazy. las rutas definidas en ese modulo se añade a las nuestras-->>
            <a class="nav-link" routerLink="/blogs"><span class="nav-text">Blogs</span></a>
        </div>
        <div class="header-actions">
            <!--Especificamos que queremos usar un outlet secundario, el que tiene nombre chat, y ahi, la ruta sera users-->
            <a class="nav-link nav-icon" [routerLink]="[{outlets: { chat: ['users']}}]">
                <clr-icon shape="talk-bubbles"></clr-icon>
            </a>
            <a class="nav-link nav-icon">
                <clr-icon shape="logout"></clr-icon>
            </a>
        </div>
    </header>
    <div class="content-container">
        <div class="content-area">
            <!--Tag donde el Routing Module escribira el contenido-->
            <router-outlet></router-outlet>
        </div>
    </div>
</clr-main-container>
<!--Añadimos un outlet secundario. Tiene un nombre, de modo que podemos apuntar especificamente a el-->
<router-outlet name="chat"></router-outlet>