<!--<p>{{cluster1 | json}}</p>-->
<!--<p>{{cluster2 | json}}</p>-->
<div class="container mt-2">
    <div class="card card-block">
        <nav class="navbar navbar-dark bg-inverse mb-1">
            <h1 class="navbar-brand mb-0">Overall Metrics</h1>
        </nav>
        <div class="row">
            <!-- Para demostrar como pasar valores usando CSS. Creamos un tag. Angular intentara buscar el component asociado a este tag, no lo encontrara, y lanzara un error. Para evitarlo en el App Module importamos NO_ERRORS_SCHEMA, de modo que no se considere un error-->
            <!--
            <app-metric class="col-sm-6" [used]="cpu.used" [available]="cpu.available" [title]="'CPU'" [description]="'utilization of CPU cores'"></app-metric>
            -->
            <app-metric class="col-sm-6" [used]="cpu.used" [available]="cpu.available">
                <metric-title>CPU</metric-title>
                <metric-description>utilization of CPU cores</metric-description>
            </app-metric>
            <!-- Para demostrar como pasar valores usando CSS. Creamos un tag. Angular intentara buscar el component asociado a este tag, no lo encontrara, y lanzara un error. Para evitarlo en el App Module importamos NO_ERRORS_SCHEMA, de modo que no se considere un error-->
            <!--
            <app-metric class="col-sm-6" [used]="mem.used" [available]="mem.available" [title]="'Memory'" [description]="'utilization of memory in GB'"></app-metric>
            -->
            <app-metric class="col-sm-6" [used]="mem.used" [available]="mem.available">
                <metric-title>Memory</metric-title>
                <metric-description>utilization of memory in GB</metric-description>
            </app-metric>
        </div>
    </div>
</div>
<div class="container mt-2">
    <div class="card card-block">
        <div class="card-body">
            <nav class="navbar navbar-dark bg-inverse mb-1">
                <h1 class="navbar-brand mb-0">Cluster 1</h1>
            </nav>
            <!-- En el elemento table estamos definiendo una property app-nodes, de modo que se inyectara aqui el componente nodes
            El contenido del de este componente se incluira en lugar del placeholder ng-content del template de app-nodes -->
            <table app-nodes class="table table-hover">
                <!-- Crea tantas filas como nodos hay en cluster1. Cada node se pasa al input del app-mode-row-->
                <tr app-nodes-row *ngFor="let node of cluster1" [node]="node"></tr>
            </table>
            <nav class="navbar navbar-dark bg-inverse mb-1">
                <h1 class="navbar-brand mb-0">Cluster 2</h1>
            </nav>
            <table app-nodes class="table table-hover">
                <tr app-nodes-row *ngFor="let node of cluster2" [node]="node"></tr>
            </table>
        </div>
    </div>
</div>
<!--Utiliza la directiva para incluir formularios creados con el servicio NgbModal-->
<template ngbModalContainer></template>